.button {
    background-color: var(--color-primary);
    border: solid 1px var(--color-primary);
    padding: 1rem 2rem;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
    transition: .2s;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.button svg {
    font-size: 1.5rem;
}

.button:hover {
    background-color: #fff;
    color: var(--color-primary);
}